* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 86%);
    font-family: "poppins", serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.container {
    background: #fff;
    margin: 0 auto;
    padding: 30px 50px;
    width: 70%;
    max-width: 700px;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.dates-container {
    display: flex;
    gap: 20px;
    border-bottom: solid 1px hsl(0, 0%, 86%);
    padding-bottom: 50px;
}

.arrow-icon {
    background: hsl(259, 100%, 65%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    cursor: pointer;
    margin-top: -25px;
}

.error {
    color: hsl(0, 100%, 67%);
}

.arrow-icon img {
    width: 40px;
}

.arrow-icon:hover {
    background: hsl(0, 0%, 0%);
    transition-duration: 0.4s;
}

.error-state {
    color: hsl(0, 100%, 67%);
}


.dates-container label {
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    color: hsl(0, 1%, 44%);
}


.dates-container input {
    display: block;
    padding: 15px;
    width: 100%;
    font-weight: 700;
    font-size: 1.4rem;
    border-radius: 5px;
    border: solid 1px hsl(0, 1%, 44%);
}

input {
    -moz-appearance: textfield;
    appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.dates-container input::placeholder {
    font-weight: 700;
    font-size: 1.4rem;
}

.year-result,
.month-result,
.days-result {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.year-result h2,
.month-result h2,
.days-result h2 {
    font-size: 4rem;
}

.year-result span,
.month-result span,
.days-result span {
    color: hsl(259, 100%, 65%);
    font-size: 4rem;
    font-weight: 900;
}

.day-error,
.month-error,
.year-error {
    color: hsl(0, 100%, 67%);
    margin-top: 10px;
    font-size: 12px;
}

@media screen and (max-width: 700px) {

    .year-result h2,
    .month-result h2,
    .days-result h2 {
        font-size: 3.5rem;
    }

    .year-result span,
    .month-result span,
    .days-result span {
        color: hsl(259, 100%, 65%);
        font-size: 3.5rem;
        font-weight: 900;
    }

}

@media screen and (max-width: 400px) {
    body {
        padding: 10px;
    }

    .container {
        margin: 0;
        width: 100%;
    }

    .arrow-icon {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }


    .year-result h2,
    .month-result h2,
    .days-result h2 {
        font-size: 2.5rem;
    }

    .year-result span,
    .month-result span,
    .days-result span {
        color: hsl(259, 100%, 65%);
        font-size: 2.5rem;
        font-weight: 900;
    }

    .dates-container input {
        display: block;
        padding: 15px;
        width: 100%;
        font-weight: 700;
        font-size: 1rem;
        border-radius: 5px;
        border: solid 1px hsl(0, 1%, 44%);
    }

    .dates-container input::placeholder {
        font-weight: 700;
        font-size: 1rem;
    }

}