* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 86%);
    font-family: "poppins", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.container {
    background: #fff;
    margin: 0 auto;
    padding: 20px 40px;
    width: 70%;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.dates-container {
    display: flex;
    gap: 20px;
    border-bottom: solid 1px hsl(0, 0%, 86%);
    padding-bottom: 50px;
}

.dates-container label {
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    color: hsl(0, 1%, 44%);
}


.dates-container input {
    display: block;
    padding: 15px;
    width: 100%;
    font-weight: 700;
    font-size: 1.4rem;
}

.dates-container input::placeholder {
    font-weight: 700;
    font-size: 1.4rem;
}